<div class="banner">
    <h1>The Bucket List</h1>
    <p>A todo-list.... before you die</p>
</div>
<div id="search">
    <input type="text" class="search" placeholder="Enter a search term">
</div>

<%= render 'todo_items/create_item' %>


<div id="map-canvas">
</div>


<body>
    <% @items.each do |i| %>
         <%= render i %>
     <% end %>
</body>    
