h1 {
    font-family: cursive;
    text-align: center;
}

.todo-item {
    font-size: 20px;
    font-family: Helvetica; 
    padding: 10px;
    
}

.comments {
    font-size: 13px;
    font-family: Helvetica;
    padding: 4px;
}

.info {
    font-size: 10px;
    font-family: Helvetica;
}

